{% set language = fsc.getLanguageModel() %}

<div class="container">
    <div class="columns">
        <div class="column col-2">
            <a href="{{ language.url('public-list') }}" class="btn">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span class="hide-xs">{{ i18n.trans('all') }}</span>
            </a>
        </div>
        <div class="column">
            <h1 class="h3">{{ language.langcode }}</h1>
            <p>{{ language.description }}</p>
        </div>
    </div>
</div>
<br/>