{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section">
        <br/>
        <form method="post">
            <div class="container grid-lg">
                <div class="columns">
                    <div class="column">
                        <h1 class="text-capitalize">
                            <i class="fas fa-envelope fa-fw"></i> {{ i18n.trans('send') }}
                        </h1>
                        {% for item in fsc.getTreeList() %}
                            <span class="label">{{ item }}</span>
                        {% endfor %}
                        <div class="form-group mb-2">
                            <textarea name="body" class="form-input" placeholder="detalle su mensaje" rows="5" autofocus=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <p>
                            Este mensaje es confidencial y solamente será visible por usted y el equipo de soporte.
                        </p>
                    </div>
                    <div class="column text-right">
                        <button type="submit" class="btn btn-primary">
                            {{ i18n.trans('send') }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
