{% extends "Master/PortalTemplate.html.twig" %}

{% block body %}
    <div class="body-section body-padding">
        <div class="container">
            <div class="columns">
                <div class="column col-9 col-md-12">
                    <h1 class="text-capitalize">{{ fsc.webPage.title }}</h1>
                    <ul>
                        {% for lang in fsc.languages %}
                            <li>{{ lang.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="column col-3 col-md-12">
                    <ul class="menu">
                        <li class="divider" data-content="{{ i18n.trans('languages') }}">
                        </li>
                        {% for lang in fsc.languages %}
                            <li>{{ lang.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}